# Ignore the images folder
img/
images/

# Ignore the data insertion folder
Data_Insertion/
Data_Populating/

# Ignore the main LaTeX source
main.tex

# Common LaTeX build files
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz

